@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

@font-face {
  font-family: pooppis800;
  src: url(Poppins-ExtraBold.ttf);
}

body {
  background: #17181f;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(105deg, rgba(152,146,121,1) 0%, rgba(23,24,31,1) 25%);
}

h2 {
  font-family: pooppis800;
}

.lrsum {
  font-family: pooppis800;
}

.img-logo {
  width: 40px;
  padding-right: 2px;
}

.btn-set {
  border-radius: 10px;
  background-color: #fcf4d2;
  color: black;
}

.btn-set:hover {
  border-radius: 10px;
  background-color: #fcf4d2;
  color: black;
}

.btn-set2 {
  border-radius: 10px;
  background-color: #17181f;
  color: #fcf4d2;
  border: 1px solid #fcf4d2;
}

.btn-set2:hover {
  border-radius: 10px;
  background-color: grey;
  color: #fcf4d2;
  border: 1px solid #fcf4d2;
}

.text-justify {
  text-align: justify;
}

.section-one .right img {
  width: 100%;
}

.box-yellow {
    background-color: #fcf4d2;
    min-height: 200px;
    border-radius: 15px;
    color: #17181f;
}

.section-three .right img {
    width: 90%;
}

.section-one  {
    min-height: 100vh;
}

.text-yellow {
    color: #fcf4d2;
}